# Ignore artifacts:
.vscode
.build
coverage
node_modules
package.json
.serverless
.idea
.github
.build
tsconfig.json
serverless.yml
.prettierrc
.eslintrc.json
*.md
bun.lockb
Dockerfile
*.properties
.gitignore
.prettierignore
*.env.*
*.sh
*.yaml
dist